@model IEnumerable<Blog.Models.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<div id="posts-container" class="container-fluid center-block">
    <div class="panel-group">
        @if (Model.Any())
        {
            @Html.DisplayFor(x => x);
        }
        else
        {
            <div class="text-center">No Results</div>
        }
    </div>
</div>
