
@{
    ViewBag.Title = "Dashboard";
}

<div id="posts-container" class="container-fluid center-block">
    <div class="panel-group">
        @Html.Action("GetDashboard", "Dashboard", new {limit = 5, offset = 0})
    </div>

    <button id="load-more-btn" class="btn btn-default center-block text-center"><span id="btn-loading" style="display: none" class="glyphicon glyphicon-refresh loading"></span>Load More</button>
</div>

<script>
    $(document).ready(function() {
        $("#load-more-btn")
            .click(function() {
                var offset = $(".posts").last().data("offset");
                $.ajax({
                    url: "/Dashboard/GetDashboard",
                    data: { limit: 5, offset: offset },
                    success: function (data) {
                        $("[data-hasposts='false']").remove();
                        $(".panel-group").append(data);
                    }
                });
            });
    }).ajaxStart(function() {
        $("#btn-loading").show();
    }).ajaxStop(function() {
        $("#btn-loading").hide();
    })
</script>
