@model IEnumerable<Blog.Models.PostViewModel>

@{
    ViewBag.Title = "My";
}

<div class="container">
    <h2>My Posts</h2>

    <div class="row">
        @if (Model.Any())
        {
            @Html.DisplayFor(x => x)
        }
    </div>
</div>

